.banana {
    color: lightgoldenrodyellow;
}

.codelikethingie {
    box-sizing: border-box;
    display: none;
    font-family: sans-serif;
    font-size: 10px;
    height: auto;
    width: auto;
    color: red;
}

.type-name {
}

.get-inner-type {
    color: green;
}

.taggydoober {
    color: blue;
}
.T {
    color: darkorange;
}